 body {
  min-width: 960px;
  padding: 0px;
  margin: 0px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000;
  background-color: #fff
}

html { 
  box-sizing: border-box;
}

*,
*::before, 
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.page-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.logo-btn,
.footer-logo-btn {
  background-color: #ee3643;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 24px;
  color: #fff;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 5px 0 0 #b52933;
}

.logo-btn {
  display: block;
  padding: 11px 55px 7px 55px;
  width: 220px;

}
.header-up-wrapper {
  display: flex;
  width: 100%;
}
.user-nav {
  padding: 0;
  display: block;
  margin: 0 auto;
  display: flex;
}

.logo-btn:hover {
  background: #ca2c37
}

.logo-btn:active {
  background: #ba2732
}

.header-up {
  display: flex;
  justify-content: space-between;
  background: #293449;
}
.user-activites .search {  
  color: #fff;
  background: #293449;
}
.user-activites {
  display: flex;
  margin: 0px;
  padding: 0px
}
input[type=search] {
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #fff;
  background-color: #293449;
  width: 100%;
  padding: 12px 0 12px 49px;
  border: none;
  cursor: pointer;
  position: relative;
  margin-right: 200px;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 15px 13px;
  background-size: 17px;
  
}

input[type=search]:focus {
  color: #000;
  background: #fff;
  outline: none;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 15px 13px;
  background-size: 17px;

}

input[type=search]:hover {
  background: #212a3a;
  border: none;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 15px 13px;
  background-size: 17px;
}


.user-nav a {
  display: block;
  position: relative;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  text-decoration: none;
  color: #fff;
  background-color: #293449
}

.user-nav a:hover {
  background: #212a3a;
  color: rgba(255, 255, 255, 0.2)
}

.user-nav:active {
  background: #161d29
}

a.ordering {
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  text-decoration: none;
  color: #fff;
  background: #5fbb2d;
  width: 150px;
  padding: 12px 0 12px 20px;
}

a.ordering:hover {
  background: rgba(95, 187, 45, 0.8)
}

a.ordering:active {
  background: rgba(95, 187, 45, 0.9)
}

.bookmarks {
  width: 150px; 
  padding: 12px 0 12px 55px;
}

.bookmarks::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 25px;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.bookmarks:hover::before,
.basket:hover::before {
  opacity: 1;
}

.basket {
  width: 150px;
  padding: 12px 0 12px 50px;
}

.basket::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 20px;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
 }


.header-middle {
  padding-top: 45px;
  padding-bottom: 45px;
  color: #000;
  background-color: #f1f5f7;
}
.header-middle-wrapper {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.title {
  margin-left: 50px;
  width: 200px;

}

.title h1 {
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  font-style: italic;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ef5c67
}


.address,
.phone {
  text-decoration: none;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum", "Arial", sans-serif
}

.phone {
  position: relative;
  display: block;
  font-size: 21px;
  line-height: 18px;
  color: #e9292a;
  padding: 10px 10px 11px 71px;
  border: 3px solid #fff;
}

.phone:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 13px;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
}


.address {
  width: 310px;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: center
}

.user {
  margin-top: 12px;
}


.registration {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 18px;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  padding: 10px 25px 10px 23px;
  margin-top: 47px;
}

.registration:hover {
  color: #ee3643
}

.registration:active {
  color: #cacaca
}

.login {
  position: relative;
  margin: 47px 10px 0 21px;
  padding: 10px 26px 10px 46px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 18px;
  text-decoration: none;
  color: #000;
  background-color: #fff
}

.login:hover {
  color: #ee3643
}

.login:active {
  color: #cacaca
}

.login::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 13px;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
}

.login:hover::before path {
  fill: #293449;
}


.loged {
  position: relative;
  padding: 12px 65px 14px 46px;
  margin: 0px 0 0 3px;
  display: block;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 21px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-decoration: none;
  color: #000;
  background-color: #fff
}

.loged::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 13px;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
}

.loged::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 13px;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
}

.loged:hover {
  color: #000
}
.loged:active {
  color: rgba(0, 0, 0, 0.2)
}

.information {
  margin-top: 8px;
  padding-left: 15px;
}


.my-orders {
  margin-right: 30px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #32425c;
  background: #f2f6f8
}

.my-orders:hover {
  color: #ef4652
}

.my-orders:active {
  color: #c5cad0
}

.point {
  width: 5px;
  height: 5px;
  margin-left: 15px;
  margin-bottom: 2px;
  background: #32425c;
  border-radius: 50px
}


.cabinet {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  background: #f2f6f8;
  color: #32425c
}

.cabinet:hover {
  color: #ef4652
}

.cabinet:active {
  color: #c5cad0
}

.header-bottom {
  background-color: #f1f5f7;
  padding-bottom: 10px;
  margin-bottom: 60px;
  width: 100%;
}
.site-nav {
  justify-content: space-between;
  align-items: center;
  display: flex;
  min-height: 55px;
  padding: 0px 20px;
  margin: 0 auto;
  width: 940px;
  border-bottom: 3px solid #293449
}
.main-nav {
  display: flex;
  margin-bottom: 40px;
  list-style: none;
  background-color: #32425c;
  width: 100%;
}

.main-nav a  {
  display: block;
  padding: 20px 30px;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 17px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-decoration: none;
  color: #fff;
  background-color: #32425c;
}

.main-nav a:hover {
  background: #293449
}

.main-nav a:active {
  color: rgba(255, 255, 255, 0.5);
  background: #1d2739
}

.user-nav,
.social-icon,
.list-supply,
.list-producers,
.breadcrumbs, 
.foot-nav,
.cat-nav,
.producers,
.page,
.catalog-items,
.site-nav,
.transport-list {
  list-style: none;
}
.catalog1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 55px;
}

.catalog {
  margin-bottom: 20px;
  background: #fff;
  color: #000;
}

.category  h2,
.category-block h2 {
  font-style: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  display: block;
  margin: 21px 0 0 23px; 
}

.category {
  position: relative;
  width: 300px;
  height: 120px;
}

.category-block h2 {
  padding-top: 20px;
}

.category-btn {
  display: block;
  width: 135px;
  padding: 10px 0;
  margin: 12px 0 0 24px;
  font-style: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.1)
}

.category-btn:hover {
  background: rgba(0, 0, 0, 0.2)
}

.category-btn:active {
  background: rgba(0, 0, 0, .3)
}

.material,
.dilivery {
  background: #f6b22d
}

.dilivery {
  background-image: url(../img/delivery-icon.png);
  background-repeat: no-repeat;
  background-position: 200px 30px

}

.material {
  background-image: url(../img/materials-icon.png);
  background-repeat: no-repeat;
  background-position: 212px 30px

}

.instruments {
  background: #4aafde;
  background-image: url(../img/tool-icon.png);
  background-repeat: no-repeat;
  background-position: 200px 30px
}

.equipment {
  background: #cc79d1;
  background-image: url(../img/technics-icon.png);
  background-repeat: no-repeat;
  background-position: 178px 30px
}

.discount {
  background: #85d179;
  background-image: url(../img/discounts-icon.png);
  background-repeat: no-repeat;
  background-position: 200px 30px
}

.slider {
  margin-top: 20px;
  padding: 0px;
  position: relative;
}

.category-img {
  top: 30px;
  right: 43px;
  position: absolute
}

.new::after {
  content: url(../img/new-flag.png);
  position: absolute;
  top: 0px;
  right: 0px;
  width: 60px;
  height: 60px;
}

.slide1 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #fff;
  background-image: url(../img/slider-1.jpg);
  background-repeat: no-repeat;
  width: 620px;
  height: 265px;
}

.slide2 {
  display: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #fff;
  background-image: url(../img/slider-2.jpg);
  background-repeat: no-repeat;
  width: 620px;
  height: 265px;
}

.slide-title {
  padding-left: 25px;
  padding-top: 26px;
  text-transform: uppercase;
  line-height: 36px;
  font-size: 36px;
  font-family: "Cuprum", "Arial", sans-serif;
  margin: 0 auto;
}
.slider span  {
  padding-left: 25px;
}

.slider .slide-btn {
  display: block;
  position: absolute;
  bottom: 22px;
  left: 25px;
  margin: 0px;
}

.slider-btn1  {
  margin: 0px;
  position: absolute;
  top: 170px;
}

.slider-btn2 {
  position: absolute;
  top: 170px;
  right: 0px;
}


.wrapper {
  align-content: center;
  display: flex;
  padding-left: 30px;
  padding-right: 25px;
  margin-bottom: 20px; 
  justify-content: space-between;
  background-color: #f7f3ec;
}

.wrapper h2 {
  background-color: #f7f3ec;
  font-weight: 200;
  font-style: normal;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase
}

.btn {
  border-radius: 4px;
  padding: 11px 55px 9px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  background-color: #ee3643;
  color: #fff;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase
}

.btn:hover {
  background: #ca2c37
}

.btn:active {
  background: #ba2732
}

.catalog-item {
  position: relative;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #e5e5e5;
  width: 220px;
  height: 320px;
  margin-bottom: 20px;
  padding-top: 20px; 
}

.catalog-item h3,
.catalog-item h2{
  font-size: 18px;
  line-height: 20px;
  min-height:40px;
  padding:0 25px;
  margin-top: 0px;
  margin-bottom: 5px; 
}

.catalog-item .actions{
  position:absolute;
  top:0;
  left:0;
  width:218px;
  height:88px;
  padding:40px 0;
  background-color:rgba(255,255,255,0.9);
  z-index:10;
}

.catalog-item .image{
  width:218px;
  height:168px;
}
.catalog-item .image img{
  max-width:100%;
}


.catalog-items{
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-item:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, .5)
}

.old-price {
  min-height:20px;
  margin-top:8px;
  margin-bottom:10px;
  color:#999;
  text-decoration:line-through;

}

.catalog-btn {
  display: block;
  min-height:40px;
  position:relative;
  width:140px;
  margin:10px auto;
  margin-bottom:20px;
  margin-top: 33px;
  padding:10px 30px;
  color:white;
  background:#ee3643;
  border-radius:3px;
  text-decoration: none;
}

.catalog-btn::after {
  content:"";
  position:absolute;
  top:0;
  right:-20px;
  width:0;
  height:0;
  border:20px solid white;
  border-left-color:#ee3643;
}

.old-price + .catalog-btn {
  margin-top: 10px;
}

.buy-btn,
.in-bookmarks {
  position: relative;
  display:block;
  width:129px;
  margin:0 auto;
  margin-bottom:7px;
  padding:7px 0;
  border:3px solid #63a63e;
  border-bottom-color:#367315; 
  background-color:#63a63e;
  color:white;
  font-size:14px;
  font-weight:normal;
  font-family:"Cuprum", sans-serif;
  line-height:18px;
  text-decoration:none;
  text-transform:uppercase;    
  border-radius:3px;
}

.catalog-item .actions{
  display:none;
}
.catalog-item:hover .actions{
  display:block;
}

.buy-btn::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 13px;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}


.buy-btn:hover {
  background: #5fbb2d;
}

.buy-btn:active {
  background: #518534;
}

.in-bookmarks{
  color:#32425c;
  background:white;
  border-bottom-color:#63a63e;
}

.in-bookmarks:hover {
  color: #32425c;
  background: #fff;
  border: 3px solid #32425c
}
.in-bookmarks:active {
  color: #d0d2d6;
  border: 3px solid #c1c6ce
}
.catalog-item h2 {
  font-size: 18px;
  font-style: bold;
}


.popular-producers {
  margin-bottom: 20px;
}

.producers {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

a.prod-img {
  border: 1px solid #e5e5e5;
  height: 145px;
  width: 220px;
  align-content: center;
  display: flex;
  margin-bottom: 20px;
}

.prod-img img{
  display: block;
  margin: auto;
}

a.prod-img:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, .5)
}

a.prod-img:active {
  box-shadow: 0 4px 10px rgba(41, 52, 73, .5);
  opacity: .3
}

.services-top {
  padding-top: 65px;
}

.services-block {
  width: 100%;
  display: flex;
  margin-bottom: 80px;
  padding-bottom: 100px; 
}
.services {
  background-color: #f2f6f8;
}

.services h2, 
.service p {
  font-weight: 400;
  margin-left: 10px;
  font-style: normal;
  line-height: 24px
}

.services h2 {
  margin-top: 10px;
  text-transform: uppercase;
  color: #000;
  font-size: 36px;
  font-family: "Cuprum", "Arial", sans-serif
}

.services p {
  display: block;
  padding-bottom: 64px;
  width: 400px;
  font-size: 13px;
  font-family: "PT Sans", "Arial", sans-serif
}

.servises-dilivery p {
  width: 275px;
  
}

.servises-dilivery {
  background-image: url(../img/bg-delivery.png);
  padding-right: 345px;
  background-position: 150px 0px;
  background-repeat: no-repeat; 
}

.servises-credit {
  background-image: url(../img/bg-credit.png);
  padding-right: 345px;
  background-position: 150px 0px;
  background-repeat: no-repeat; 
}

.services-left {
  position: relative;
  margin-right: 80px;
  width: 240px;
  font-weight: 700;
  font-style: normal;
  font-size: 21px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-align: left;
  color: #fff;

}

.shadow {
  position: absolute;
  top: -40px;
  left: 230px;
  width: 10px;
  height: 279px;
  background-image: url(../img/layer-118.png);

}

.services-table  {
  background-color: #32425c;
  width: 240px;
  border-collapse: collapse;
}

.services-table label {
  display: block;
  padding: 15px;
}


.services-table tr:first-child {
  color: #32425c;
  background-color: #fff;
}

.services-right {
  width: 620 px;
}

.about {
  margin: 0px;
  padding: 0px;
  width: 540px;
  color: #000;
  background: #fff;
}
 


.transport-list {
  margin: 10px 0 35px 0px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 40px;
  
}

.transport-list li {
  position: relative;
}

.transport-list li::before {
  content: '';
  position: absolute;
  left: -36px;
  top: 19px;
  display: block;
  width: 25px;
  height: 2px;
  background: #fb565a;
}

.contacts {
  min-width: 300px;
  margin-left: 80px;
}

.map {
  display: block;
  width: 300px;
  height: 158px;
  margin-bottom: 40px;
}

.contact-about {
  margin: 0;
  margin-bottom: 90px;
  display: flex;
  align-content: space-between;
}

.about h3, 
.about p,
.contacts h3 {
  font-weight: 400;
  font-style: normal;
  line-height: 24px
}

.contacts p {
  margin-bottom: 32px;
}

.about h3, 
.contacts h3 {
  margin-bottom: 29px;
  text-transform: uppercase;
  font-size: 30px;
  font-family: "Cuprum", "Arial", sans-serif
}

.about p {
  font-size: 13px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #222;
  margin: 0;
  padding: 0;
}

.about p:nth-child(2) {
  margin-bottom: 24px;
}


.about .btn {
  padding: 12px 40px 10px;
}


.map-btn {
  display: block;
  min-width: 100%;
}


.main-footer {
  width: 100%
}

.footer-up {
  justify-content: space-between;
  display: flex;
  color: #fff;
}
.footer-wrapper-up {
  background: #32425c;
  width: 100%;
}


.footer-logo-btn {
  font-size: 30px;
  display: inline-block;
  padding: 18px 41px 15px;
  margin-bottom: 28px;
}

.right-footer-up p {
  width:  330px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #f1f5f7
}
.left-footer-up {
  width: 613px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 560px;
  margin-left: 70px;
}

.foot-nav {
  padding: 8px 0;
  margin: 0 auto;
  justify-content: space-around;
  display: flex;
}

.catalog-nav {
  margin-top: 10px;
  padding: 8px 0 
}
.cat-nav {
  justify-content: space-around;
  display: flex;
}
.footer-nav a {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #fff;
  text-decoration: none
}

.footer-nav a:hover {
  text-decoration: underline
}

.footer-nav a:active {
  color: #a4abb4
}

.catalog-nav a {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  text-decoration: none;
  color: #ffd180
}

.catalog-nav a:hover {
  text-decoration: underline
}

.catalog-nav a:active {
  color: #ad956f
}

.footer-down {
  padding-bottom: 35px;
  padding-top: 40px;
  background: #293449
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}

.copyright {
  width: 230px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #fff
}

ul.social-icon\> {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 135px;
  margin: 0 auto;
  padding: 0px;
}

.social-icon a {
  display: block;
  width: 40px;
  height: 40px;
}

.feedbac-block {
  display: flex;
}

.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  text-decoration: none;
  background: #212a3a;
  border-radius: 50px
}

.social-btn:hover,
.social-btn:active {
  background-color: #ee3643;
}

.feedback p {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum", "Arial", sans-serif;
   color: #fff
}
.feedback {
  margin-left: 50px;
  width: 140px;
}
.feedback:nth-child(2) {
  width: 100px;
  margin-right: 20px;
}
.feedback a {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffd180
}

.feedback a:hover {
  text-decoration: underline
}

.feedback a:active {
  text-decoration: none;
  color: #ee3643
}
.for-catalog {
  margin-bottom: 20px;
}

.breadcrumbs {
  position: relative;
  margin-bottom: 17px;
  display: flex;
  margin: 0;
  padding: 0;
}

.home {
  position: relative;
  margin-left: 17px;
}


.home::before {
  content: "";
  position: absolute;
  top: 1px;
  left: -19px;
  width: 16px;
  height: 20px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
}

.breadcrumbs a::before {
  content: "";
  position: absolute;
  top: 1px;
  left: -19px;
  width: 16px;
  height: 20px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
}

.breadcrumbs a {
  position: relative;
  margin-right: 38px;
}

.catalog-way {
  position: relative;
  margin-right: 38px;
}

.catalog-title {
  align-content: center;
  display: flex;
  padding-left: 30px;
  padding-right: 25px;
  padding-top: 30px;
  padding-bottom: 25px; 
  margin-bottom: 20px; 
  justify-content: space-between;
  background-color: #f7f3ec;
}

.breadcrumbs a {
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #000
}


.catalog-title {
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
  background: #f2f6f8;
  color: #32425c
}

.catalog-block {
  display: flex;
  margin-bottom: 60px;
}

.line {
  margin-bottom: 16px;
  border: 1px solid #e5e5e5;
  border-bottom-width: 0;
}


.filter {
  min-width: 220px;
  margin-right: 20px;
}


.sort,
.filter-title {
  margin-bottom: 20px;
  padding: 10px;
}

.range-controls {
  position: relative;
  height: 80px;
  margin: 14px 0 10px;
  padding: 0 30px;
  overflow: hidden;
  background: #f7f3ec;
  border-radius: 3px
}

.scale {
  height: 2px;
  margin-top: 39px;
  background: #d7dcde
}

.bar {
  width: 87%;
  height: 2px;
  background: #00ca74

}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 20px;
  height: 20px;
  border: 8px solid #fff;
  background: #ababab;
  border-radius: 50%;
  cursor: pointer;
}


.range-controls .max-toggle {
  left: 161px;
}

.range-controls .min-toggle {
  left: 21px;
}


.price-controls {
  margin-bottom: 26px;
  color: #000
}

.price-min,
.price-max {
  width: 95px;
  padding: 8px 2px 10px 8px;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  background-color: #f7f3ec;
  border: none;
  border-radius: 3px
}

.price-min+span {
  margin-left: 7px;
  margin-right: 5px;
  font-size: 17px;
  line-height: 30px
}

.filter-title,
.sort p,
.sort-btn {
  font-style: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.filter-title {
  padding: 10px 0 10px 19px;
}

.sort-btn {
  margin-right: 70px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  border-bottom: red 1px dotted;
}

.sort-btn:hover {
  color: rgb(0, 0, 0);
  border-bottom: red 1px solid;
}

.sort-btn:active {
  color: #ee3643;
  text-decoration: none;
  border: none;
}

.sort-active {
  color: #ee3643;
  text-decoration: none;
  border: none;
}

.filter-title,
.sort {
  border-radius: 3px;
  background: #f7f3ec;
}

.by-producers h3,
.by-price h3,
.by-supply h3 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-style: bold;
  font-size: 17px;
  line-height: 30px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase
}
.by-producers {
  margin-bottom: 22px;
}

.list-producers input[type=checkbox], 
.list-supply input[type=radio],
.services-table input[type=radio]{
  display: none;
}




fieldset {
  padding: 0px;
  border: none;
}

.list-producers,
.list-supply {
  padding: 0px;
}

.list-producers input[type="checkbox"] + label,
.list-supply input[type="radio"] + label {
  position: relative;
  display: block;
  margin-bottom: 20px;
  padding-left: 35px;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase
}



.list-producers input[type=checkbox]+label::before {
  content: '';
  position: absolute;
  width: 26px;
  height: 26px;
  top: -4px;
  left: 0;
  background: url(../img/checkbox-off.svg) no-repeat;
}

.list-producers li:first-child input[type=checkbox]+label::before,
.list-producers li:nth-child(3) input[type=checkbox]+label::before  {
  content: '';
  position: absolute;
  width: 26px;
  height: 26px;
  top: -4px;
  left: 0;
  background: url(../img/checkbox-on.svg) no-repeat;
}



.list-supply input[type="radio"]+label::before {
  content: '';
  position: absolute;
  width: 26px;
  height: 26px;
  top: -4px;
  left: 0;
  background: url(../img/radio-off.svg) no-repeat;
}

.list-supply li:first-child input[type="radio"]+label::before {
  content: '';
  position: absolute;
  width: 26px;
  height: 26px;
  top: -4px;
  left: 0;
  background: url(../img/radio-on.svg) no-repeat;
}

.btn-show {
  margin-top: 75px;
  padding: 11px 38px 8px;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase; 
  color: #000;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  cursor: pointer
}

.sort span {
  margin-right: 139px;
  padding-left: 19px;
  color: #000;
  text-transform: uppercase;
}

.page {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  display: flex;
}

.page a {
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  padding: 8px 14px 10px 16px;
  margin-right: 9px;
  border: 1px solid #e5e5e5;
  border-radius: 3px
}

.page .page-active {
  color: #fef5f6;
  background: #ee3643
}

.page a:hover {
  border: 1px solid #bdc6ca;
}

.page a:active {
  border: 1px solid  #ee3643;
}

.about-goods {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 70px;
  padding-bottom: 80px;
  color: #000;
  background: #f2f6f8
}
.about-perforator {
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: #000;
  background: #f2f6f8
}

.about-perforator h3 {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif
}

.about-perforator p {
  font-size: 13px;
  font-family: "PT Sans", "Arial", sans-serif
}

.form-answer,
.write-us-form label {
  font-size: 18px;
  font-family: "Cuprum", "Arial", sans-serif
}

.form-answer {
  padding: 60px;
  width: 620px;
  height: 125px;
}

.write-us-block {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
}

.write-us-form  input[type=text], .write-us-form  label {
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  outline: none
}

.write-us-form  input[type=text] {
  font-size: 13px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: left;
  color: #999;
  background: #fff;
}

.write-us-form  textarea {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #a9a9a9;
}

.form-btn {
  background-color: #f4f4f4;
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: space-around;
  align-content: center;

}

.send-btn {
  height: 40px;
  width: 460px;
  margin: 80px 35px;
}

.cart-add {
  width: 620px;
  height: 280px;
}